## Homework

1) Crea una variable que contenga un elemento del conjunto de números enteros y luego imprímela por pantalla.<br>
Por ejemplo:<br>
x = 2 #creo la variable x que vale 2<br>
print(x)  #imprimo la variable x

In [3]:
x=4
print(x)

4

2) Imprime el tipo de dato de la constante 8.5<br>
Recuerda utilizar la función "type()"

In [4]:
print(type(8.5))

<class 'float'>

3) Imprime el tipo de dato de la variable creada en el punto 1<br>
Recuerda utilizar el nombre de la variable

In [5]:
print(type(x))

<class 'int'>

4) Crea una variable que contenga tu nombre

In [6]:
nom='Carlos'

5) Crea dos variables:
* una que se llame var1 y contenga el valor: 'True'
* y otra que se llame var2 y contenga el valor: True<br>
¿Se trata de lo mismo?

In [7]:
var1='True'
var2=True

6) Imprime el tipo de dato correspondiente a las variables creadas en el punto anterior

In [8]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

7) Asigna a una variable: la suma de un número entero y un número decimal

In [9]:
sum=4+6.8

8) Realiza una operación de suma entre dos variables:<br>
* a: que contenga un número entero
* b: que contenga un número decimal<br>
Asígnale el resultado a la variable "c"

In [11]:
a=3
b=2.2
c=a+b

9) Realiza una operación de multiplicación<br>
Puedes, por ejemplo, realizar una multiplicación entre dos números enteros

In [12]:
a*b

6.6000000000000005

10) Obtén el cociente de la división de 27 entre 4 en una variable y luego muéstrala<br>
Ayuda: asigna la operación a una variable y luego imprímela utilizando la función print()

In [13]:
coc=27/4
print(coc)

6.75

11) De la división anterior, muestra solamente la parte entera<br>
Ayuda: Recuerda la división (parte entera)

In [14]:
coc_en=27//4
print(coc_en)

6

12) De la división de 27 entre 4 muestra solamente el resto<br>
Ayuda: Recuerda la división (resto)

In [15]:
coc_res=27%4
print(coc_res)

3

13) Concatena las siguientes variables e imprímelas por pantalla:<br>
var1 = 'Buenos '<br>
var2 = 'Aires'

In [17]:
var1='Buenos'
var2='Aires'
var3=var1+var2
print(var3)

BuenosAires

14) Evalúa si "2" es igual a 2. ¿Por qué ocurre eso?<br>
Ayuda: Utiliza un operador relacional para evaluar la igualdad, esperas un resultado booleano (True o False)

In [20]:
2=='2'

False

15. Crea una variable que contenga un elemento del conjunto de números enteros y luego imprime por pantalla si es mayor, menor o igual a cero.<br>
Ayuda: Primero crea la variable en cuestión y luego recuerda utilizar condicionales para resolver esta actividad.

In [21]:
p=3
if p==0:
    print('igual a cero')
elif p>0:
    print('mayor a cero')
else:
    print('menor a cero')

mayor a cero

16. Crea dos variables:
* a que sea un número
* b que sea un string<br>
 Crea un condicional que informe si las variables son del mismo tipo de dato<br>
 Ayuda: Utiliza la función type() dentro del condicional.

In [25]:
a=4
b=5.5
if type(a)==type(b):
    print(f'mismo tipo de dato:{type(a)}')
else:
    print(f'No es el mismo tipo de dato, a={type(a)} and b={type(b)}')

No es el mismo tipo de dato, a=<class 'int'> and b=<class 'float'>

18. Usa match/case para clasificar un día de la semana (1–7) en “día laboral” o “fin de semana”. (Si tienes una versión de python mayor a  3.10, si tienes una versión más antigua solucionalo con sentencias if/else)

In [26]:
import sys
print(sys.version) #Imprime la versión de python

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [35]:
dia=9
match dia:
    case 1|2|3|4|5:
        print('Dia laboral')
    case 6|7:
        print('Fin de semana')
    case _:
        print('Not a day in the week')

Not a day in the week

19.  Gestión de una lista de transacciones
Tienes una lista con montos de transacciones y necesitas limpiarla y prepararla para análisis:

* Elimina (-10) y (-5) usando el método apropiado.
* Inserta una transacción de 400 en la posición 2.
* Ordena la lista de menor a mayor.
* Extrae (y guarda en una variable) el valor más alto usando .pop().
* Filtra con un bucle y operador lógico and las transacciones que estén entre 100 * y 400, guardándolas en una nueva lista trans_filtradas.<br>

Ayuda: .remove(), .insert(), .sort(), .pop(), if 100 <= x <= 400.

In [45]:
lista = [250, -10, 500, 125, -5, 300]

In [46]:
lista.remove(-10)
lista.remove(-5)
lista

[250, 500, 125, 300]

In [47]:
lista.insert(1,400)
lista

[250, 400, 500, 125, 300]

In [48]:
lista.sort(reverse=True)
lista

[500, 400, 300, 250, 125]

In [49]:
mas_alto=lista.pop(0)
mas_alto

500

In [50]:
listas_filtradas=[]
for element in lista:
    if element>=200 and element<=400:
        listas_filtradas.append(element)
listas_filtradas

[400, 300, 250]

20. Acceso seguro con .get()
* Tienes un diccionario con información parcial de un cliente. Usa .get() para leer “email” devolviendo "no-mail@ejemplo.com" si no existe.

In [56]:
cliente = {"nombre": "María", "edad": 30}

In [57]:
cliente.get('email','no-mail@ejemplo.com')

'no-mail@ejemplo.com'

21. Tuplas y desempacado en pasos de análisis
Se recibe como tupla la configuración de un experimento:

* Desempaqueta config en variables modelo, learning_rate y n_iter.
* Crea una nueva tupla config_inv intercambiando modelo y n_iter en su posición.
* Muestra por pantalla: <br>

In [61]:
config = ("modelo_A", 0.01, 100)
modelo=config[0]
learning_rate=config[1]
n_iter=config[2]
config_inv=(modelo,n_iter,learning_rate)
config_inv

('modelo_A', 100, 0.01)

In [70]:
5%2

1

In [78]:
valor = input("Ingresa un valor").strip()

tiene_letra=False
tiene_numero=False
for letra in valor:
    if letra.isalpha():
        tiene_letra=True
    if letra.isdigit():
        tiene_numero=True

if tiene_letra==True and tiene_numero==True:
    print("El valor ingresado es combinacion de numeros y letras")
elif tiene_letra==False and tiene_numero==True:
    if (float(valor)%2)==0:
        print("El valor ingresado es entero")
    else:
        print("El valor ingresado es decimal")
else:
    print("El valor ingresado es solo letras")

El valor ingresado es solo letras