In [1]:
import requests
import pandas as pd
import os
import load_dotenv

In [14]:
# Obtener las credenciales de la API desde las variables de entorno. Deberías tener un archivo .env con estas variables definidas.
load_dotenv.load_dotenv()
cliente_id = os.getenv("CLIENTE_ID")
api_key = os.getenv("API_KEY")
headers = {'Authorization':'Bearer %s'%api_key}

In [35]:
# Parámetros de búsqueda (puedes ajustarlos según tus necesidades)
url = "https://api.yelp.com/v3/businesses/search"
ciudad = 'Chicago'
term='restaurants'
limit=30
max_entries= 240

In [41]:
# Realizar múltiples solicitudes para obtener más resultados de acuerdo con el límite y el offset especificados anteriormente
resultados=[]
for offset in range(0, max_entries, limit):
    params = {'term':term, 'location':ciudad, 'limit':limit, 'offset':offset}
    response = requests.get(url, headers=headers, params=params)
    if response.status_code != 200:
        print("Error:", response.json())
        break
    
    data = response.json()
    negocios = data.get("businesses", []) # obtener la lista de negocios de la respuesta, si no existe, asigna una lista vacía

    if not negocios:  # si ya no hay más resultados
        break

    resultados.extend(negocios)

In [43]:
# Convertir la lista de resultados en un DataFrame de pandas
df_negocios = pd.json_normalize(resultados)

In [44]:
df_negocios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        240 non-null    object
 1   alias                     240 non-null    object
 2   name                      240 non-null    object
 3   image_url                 240 non-null    object
 4   is_closed                 240 non-null    bool
 5   url                       240 non-null    object
 6   review_count              240 non-null    int64
 7   categories                240 non-null    object
 8   rating                    240 non-null    float64
 9   transactions              240 non-null    object
 10  price                     154 non-null    object
 11  phone                     240 non-null    object
 12  display_phone             240 non-null    object
 13  distance                  240 non-null    float64
 14  coordinates.latitude      240 non-null    float64
 15  coordinates.longitude     240 non-null    float64
 16  location.address1         239 non-null    object
 17  location.address2         157 non-null    object
 18  location.address3         127 non-null    object
 19  location.city             240 non-null    object
 20  location.zip_code         240 non-null    object
 21  location.country          240 non-null    object
 22  location.state            240 non-null    object
 23  location.display_address  240 non-null    object
dtypes: bool(1), float64(4), int64(1), object(18)
memory usage: 43.5+ KB